* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: italic;
    font-weight: bold;
  }

  :root {
    --primary-color:green;
    --secondary-color: yellow;
    --tertiary-color: white;
    --the-forth-color: rgba(56, 76, 252, 0.8);
    --shadow: rgba(0, 0, 0, 0.5);
  }

  html,body {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      background-color: var(--primary-color);
  }


  .title {
    font-weight: bold;
    font-size: 60px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px var(--shadow);
  }

  .box {
    border: 3px solid var(--secondary-color);
    background-color: var(--the-forth-color);
    color: var(--tertiary-color);
    box-shadow: 0 0 10px var(--shadow);
    border-radius: 15px;
  }

  #teams {
    border: 3px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    color: var(--shadow);
    box-shadow: 0 0 10px var(--shadow);
    border-radius: 5px;
  } 

  .navbar {
    font-size: 15px;
    margin: 0;
    border-radius: 5px;
  }

  .navbar a:hover {
<<<<<<< HEAD
    text-shadow: 0 0 10px var(--shadow);
=======
    text-shadow: var(--shadow);
    border-radius: 15px;
>>>>>>> weather/framework
  }

  .navbar-item {
    font-style: italic;
    font-weight: bold;
  }

  img {
    vertical-align: middle;
  }

  .current-weather-container p {
    font-weight: bold;
  }

  .current {
    font-weight: normal;
  }

  .card {
    background-color: var(--tertiary-color);
  }

  .table-wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
}

